// colors

$c141: #141F39;
$c14170: #141F3970;
$cfa: #FAFAFA;
$cf: #ffffff;
$cf70: #ffffff70;
$cd4: #D4D4D8;
$c4f: #4f4f4f;
$c4f470: #4f4f4f70;
$c38d: #38DA71;
$c15b: #15BEE3;
$c15b70: #15BEE370;

// font weight
$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$sbold: 600;
$bold: 700;
$exbold: 800;
$black: 900;