@import "_bootstrap";
@import "_fonts";
@import "_values";

//-------------------------------------
body {
    font-family: "Inter";
    background-color: $cfa;
}

nav {

    background-color: $c141;

    .navbar-collapse {


        .navbar-nav {
            .nav-item {
                a {
                    color: $cf;
                    padding-right: 40px;
                }

                &:last-child {
                    a {
                        padding-right: 85px;
                    }
                }
            }


        }

        .navbar-link {
            display: flex;
            padding: 19px 20px;
            background-color: $c38d;
            border-radius: 10px;
            color: $cf;
            text-decoration: none;
            justify-content: flex-end;
            cursor: pointer;
        }
    }


}

header {
    background-color: $c141;



    .header-area {
        padding-top: 131px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header-title {
            color: $cf ;
            font-weight: $bold;
            font-size: 70px;
            text-align: center;
            position: relative;
            z-index: 999;
            font-family: "Plus Jakarta Sans";

            img {
                z-index: -1;
                position: absolute;
            }
        }

        .header-desc {
            padding-top: 18px;
            padding-bottom: 48px;
            color: #ffffff70;
            font-size: 18px;
            text-align: center;
            font-weight: $regular;
        }

        .header-buttons {
            a {
                img {
                    padding-left: 9px;
                }

                color: $cf ;
                cursor: pointer;
                border-radius: 10px;
                text-decoration: none;

                &:first-child {
                    background-color: $c38d;
                    padding: 18px 30.5px;
                    margin-right: 16px;
                }

                &:last-child {
                    margin-left: 16px;
                    border: 1px solid $cf;
                    padding: 18px 26px;
                }
            }
        }

        .header-includes {
            padding-top: 40px;
            text-align: center;
            font-size: 16px;
            line-height: 24px;

            span {
                padding-right: 20px;

                &:last-child {
                    padding-right: 0;
                }

                font-size: 16px;
                color: #ffffff60;
                line-height: 24px;

                img {
                    padding-right: 8px;
                }
            }
        }


    }

    .header-img {
        padding-top: 60px;
        padding-bottom: 100px;

        .img-box-area {
            .img-box {
                img {
                    width: 100%;
                }
            }

            .img-desc {
                padding-top: 15px;
                display: flex;
                justify-content: space-between;

                a {
                    color: $cf;
                    text-decoration: none;
                }
            }
        }
    }

    .header-brand {
        background-color: $c15b;

        .swiper {
            .swiper-wrapper {
                padding: 17px 0;
                align-items: center !important;
            }
        }
    }
}

.bussines-section-area {
    .business-area {
        padding-top: 120px;

        .business-content-area {
            text-align: center;

            .business-title {
                font-family: "Plus Jakarta Sans";
                font-size: 40px;
                font-weight: $bold;
            }

            .business-desc {
                padding-top: 16px;
                font-size: 16px;
                color: $c14170;
                font-weight: $regular;
            }
        }

        .business-includes {
            padding-top: 64px;


            .security-shadow-box {
                border-bottom: 7px solid $c15b;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }

            .business-security {
                padding: 0 26px;

                .security-icon {
                    padding-top: 64px;
                    padding-bottom: 16px;
                }

                .security-title {
                    color: $c141;
                    font-size: 21px;
                    font-family: "Plus Jakarta Sans";
                    font-weight: $bold;
                }

                .security-desc {
                    padding-top: 8px;
                    padding-bottom: 65px;
                    color: $c4f470;
                    font-size: 16px;
                    font-family: "Inter";
                    font-weight: $regular;
                }
            }
        }
    }

    .online-support-msg {
        padding: 96px 0 120px 0;

        .online-support {
            display: flex;
            justify-content: center;


        }
    }
}

.article-security-area {
    background-color: $cf ;

    .better-security {
        .better-title {
            font-size: 48px;
            font-family: "Plus Jakarta Sans";
            font-weight: $bold;
            color: $c141;
        }

        .better-desc {
            font-weight: $regular;
            font-size: 16px;
            padding: 16px 0 48px 0;
            color: $c14170;
            border-bottom: 1px solid rgba(128, 128, 128, 0.300);
        }

        .cc-img {
            img {
                position: relative;
                bottom: 70px;
                width: 100%;
            }
        }

        .better-includes {
            padding-top: 65px;

            &:last-child {
                padding-top: 32px;
            }

            .include-title {
                img {
                    position: absolute;
                    z-index: -1;
                }

                font-size: 32px;
                font-family: "Plus Jakarta Sans";
                font-weight: $bold;
            }

            .include-desc {
                font-size: 16px;
                font-weight: $regular;
                color: $c14170
            }
        }
    }
}

.performance-section-area {
    background-color: $c141;

    .performance-key-area {
        padding: 120px 0;

        .performance-title {
            font-size: 48px;
            font-family: "plus jakarta sans";
            color: $cf;
            text-align: center;
            z-index: 9999;
            position: relative;
            font-weight: $bold;

            img {
                left: 70px;
                bottom: -30px;
                z-index: -1;
                position: absolute;
            }
        }

        .performance-desc {
            font-size: 16px;
            padding-top: 17px;
            padding-bottom: 57px;
            text-align: center;
            color: $cf70;
        }

        .performance-properties-area {
            .performance-blog-title {
                display: flex;
                justify-content: space-between;
                color: $cf;
                font-size: 32px;
                font-family: "Plus Jakarta Sans";
                font-weight: $bold;
                padding-top: 32px;
                padding-bottom: 32px;
                border-bottom: 1px solid $cd4;

                a {
                    color: $cf;
                    text-decoration: none;
                }

                &:first-child {
                    border-top: 1px solid $cd4;
                }

                &:last-child {
                    flex-wrap: wrap
                }
            }

            .performance-blog-desc {
                padding-top: 24px;
                display: block !important;
                font-size: 16px;
                text-align: left;
                color: $cf70;
            }
        }

        img {
            position: absolute;
            right: -175px;
        }
    }
}

.application-article-area {
    background-color: $cfa;
}